:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
#shadow {
  margin: 5px 5px, 10px var(--greyLight-2), -3px, -3px, 8px var(--white);
}

#main_time {
  font-size: 200px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  vertical-align: middle;


}
body {
    background: rgb(256, 256, 256);
    color: #333;
    font-family: Helvetica, sans-serif;
  }
  
  
  
  #clock {
    background: #fff;
    border: 15px solid var(--white);
    border-radius: 50%;
    position: relative;
    width: 320px;
    height: 320px;
    margin: 100px auto;
    box-shadow: 5px 5px 10px #c8d0e7, 
                -3px -3px 8px var(--white);
    /*
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                inset 4px 4px 10px rgba(0,0,0,0.5),
                inset -4px -4px 10px rgba(67,67,67,0.5),
                4px 4px 10px rgba(0,0,0,0.3);
                */

  }

  .h4 {
    text-align: center;
  }
  
  @keyframes rotateHand {
    to {
      transform: rotate(1turn);
    }
  }
  